packs/cold-email-triage/n8n/cold-email-triage.workflow.json
{
  "name": "Cold-email triage (Packforge v0)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 2 }] }
      },
      "id": "trigger-cron",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "labelIds": ["INBOX"],
        "limit": 25,
        "filters": { "q": "is:unread -label:cold/triaged newer_than:2d" }
      },
      "id": "gmail-fetch",
      "name": "Fetch unread inbound",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [420, 300],
      "credentials": { "gmailOAuth2": { "id": "REPLACE_ME", "name": "Gmail OAuth" } }
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 600,\n  \"system\": $env.PACKFORGE_TRIAGE_SYSTEM,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": JSON.stringify([{\n      \"id\": $json.id,\n      \"from\": $json.From,\n      \"subject\": $json.Subject,\n      \"body\": $json.snippet,\n      \"received_at\": $json.Date\n    }])\n  }]\n}"
      },
      "id": "claude-classify",
      "name": "Triage with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const txt = $json.content?.[0]?.text ?? '';\nconst match = txt.match(/\\{[\\s\\S]*\\}/);\nreturn match ? JSON.parse(match[0]) : { label: 'needs-human', score: 0, reason: 'parse failure', draft_reply: null };"
      },
      "id": "parse-json",
      "name": "Parse decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Fetch unread inbound').item.json.id }}",
        "labelIds": "={{ ['cold/' + $json.label, 'cold/triaged'] }}"
      },
      "id": "gmail-label",
      "name": "Apply label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1100, 220],
      "credentials": { "gmailOAuth2": { "id": "REPLACE_ME", "name": "Gmail OAuth" } }
    },
    {
      "parameters": {
        "operation": "createDraft",
        "subject": "=Re: {{ $('Fetch unread inbound').item.json.Subject }}",
        "to": "={{ $('Fetch unread inbound').item.json.From }}",
        "message": "={{ $json.draft_reply }}",
        "options": {
          "threadId": "={{ $('Fetch unread inbound').item.json.threadId }}"
        }
      },
      "id": "gmail-draft",
      "name": "Save draft (hot/warm only)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1100, 380],
      "credentials": { "gmailOAuth2": { "id": "REPLACE_ME", "name": "Gmail OAuth" } }
    }
  ],
  "connections": {
    "Every 2 min": { "main": [[{ "node": "Fetch unread inbound", "type": "main", "index": 0 }]] },
    "Fetch unread inbound": { "main": [[{ "node": "Triage with Claude", "type": "main", "index": 0 }]] },
    "Triage with Claude": { "main": [[{ "node": "Parse decision", "type": "main", "index": 0 }]] },
    "Parse decision": {
      "main": [[
        { "node": "Apply label", "type": "main", "index": 0 },
        { "node": "Save draft (hot/warm only)", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "_packforge_notes": "Set ANTHROPIC_API_KEY and PACKFORGE_TRIAGE_SYSTEM (concatenated SKILL.md + triage-rules.md + reply-templates.md) as n8n env vars. Branch on $json.label upstream of 'Save draft' to skip drafts for spam/needs-human if you want stricter behaviour."
}
